:host {
  height: 100%;

  .content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .film {
    width: 33.3%;
    // flex: 1;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    &.active {
      background-color: #ddd;
    }

    hr {
      border-top: 1px solid #ccc;
      margin: 10px -10px;
    }

    h1, h3 {
      text-align: center;
      margin: 0;
      font-weight: normal;
    }
  }

  .form {
    overflow: auto;
    padding: 20px;

    .mat-form-field {
      width: 100%;
    }

    > div {
      width: 100%;
      margin: 20px 0;

      &:last-child {
        text-align: right;
      }
    }
  }
}